@model StudentDemo3.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

Student id is @Model.id

Student name is @Model.name

Student number is @Model.phonenum

<a href="Edit">Edit</a>

